.search-box {
  display: inline-block;
  width: calc(100vw - 72%);
  position: relative;
  top: -4px;
}
.search-box .input-group * {
  font-size: 12px;

  border: 1px solid #fff;
  background: #fff;
  outline: 0;
}
.search-box .input-group button {

  color: #000;
  -webkit-transition: all ease 150ms;
  transition: all ease 150ms
}
.search-box .input-group button:hover {
  color: #000;
}
